.cardHero {
  &-label{
    background-color: #cd0909;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 10px !important;
  }

  &-item {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.75;
    }
  }

  &-img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }
}

.hero-checkbox {
  transform: scale(1.5); 
  top: 10px;
  left: 10px;
}

.mw{
  max-width: 290px;
}
