<div class="mb-4 d-flex justify-content-between">
  <p class="fw-bold fs-1 text-primary-1 m-0">Tour of Heroes</p>
  <ng-container *ngIf="username !== 'login'; else loginLink">

    <div
      ngbDropdown
      class="d-flex gap-2 align-items-center"
      #dropdown="ngbDropdown"
    >
      <span
        class="fw-bold pointer d-flex align-items-center gap-1"
        id="userDropdown"
        ngbDropdownToggle
      >
        👋 {{ username | capitalizeWords }}
      </span>
      <div
        ngbDropdownMenu
        aria-labelledby="userDropdown"
        class="dropdown-menu-end p-0 overflow-hidden"
      >
        <button
          ngbDropdownItem
          (click)="handleNavigateProfile()"
          class="d-flex gap-2 align-items-center"
        >
          <i class="fa-solid fa-address-card px-1 py-2"></i>
          <span>Profile</span>
        </button>
        <button
          ngbDropdownItem
          (click)="handleNavigateTag()"
          class="d-flex gap-2 align-items-center"
        >
          <i class="fa-solid fa-ribbon px-1 py-2"></i>
          <span>Tags</span>
        </button>
        <button
          ngbDropdownItem
          (click)="handleLogout()"
          class="d-flex gap-2 align-items-center"
        >
          <i class="fa-solid fa-arrow-right-from-bracket px-1 py-2"></i>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #loginLink>
    <a
      routerLink="/login"
      class="d-flex gap-2 align-items-center text-dark fs-6 pointer"
    >
      <i class="fa-regular fa-user"></i> Login
    </a>
  </ng-template>
</div>

<div class="d-flex gap-4 p-2">
  <a
    routerLink=""
    class="d-flex align-items-center text-dark fs-5 bg-primary-1 rounded px-2 py-2 pointer"
  >
    {{ "dashboard" | capitalizeWords }}
  </a>
  <a
    routerLink="/heroes"
    class="d-flex align-items-center text-dark fs-5 bg-primary-1 rounded px-2 py-2 pointer"
  >
    {{ "heroes" | capitalizeWords }}
  </a>
  <modal-create>Create Heroes</modal-create>
</div>
