<div class="wrapper-chat border-top-1 m-0 d-flex flex-column">
  <div class="wrapper-chat-container flex-fill overflow-hidden">
    <div
      class="d-flex flex-column overflow-hidden"
      style="border-right: 1px solid #dcdcdc"
    >
      <div class="p-3 d-flex flex-column gap-3 border-bottom-1">
        <div class="d-flex align-items-center gap-3 justify-content-between">
          <div
            class="d-flex card-search align-items-center gap-2 rounded-pill flex-fill"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              class="border-0 flex-fill"
              placeholder="Search conversations"
              [formControl]="searchGeneral"
            />
          </div>
          <app-create-group></app-create-group>
        </div>

        <div
          *ngIf="!query && query.trim() === ''"
          class="m-0 mt-3 d-flex align-items-center justify-content-between text-black"
        >
          <h4>Messages</h4>
          <span style="color: #85a4e0">({{ data.length || "0" }}) Groups</span>
        </div>
      </div>

      <div class="flex-fill overflow-auto scroll-y" style="height: 670px">
        <ng-container *ngIf="data.length > 0 && !query && query.trim() === ''">
          <div *ngFor="let item of data; trackBy: trackByGroup">
            <app-group-item
              [currentGroupId]="currentGroupId"
              [itemGroup]="item"
            ></app-group-item>
          </div>
        </ng-container>
        <ng-container *ngIf="query">
          <app-search-general [search]="query"></app-search-general>
        </ng-container>
      </div>
    </div>

    <div
      class="rounded position-relative d-flex flex-column justify-content-center"
    >
      <ng-container *ngIf="data.length === 0">
        <i
          class="fa-solid fa-layer-group text-center my-5"
          style="color: #3c434a; font-size: 260px"
        ></i>
        <span class="text-center text-primary-m fs-3 fw-bold"
          >There are not group yet</span
        >
      </ng-container>

      <ng-container *ngIf="data.length > 0">
        <router-outlet></router-outlet>
      </ng-container>

      <ng-container *ngIf="data.length > 0 && !checkLinkDetail">
        <div class="text-center d-flex flex-column gap-4">
          <i
            class="fa-regular fa-message"
            style="color: #3c434a; font-size: 310px; margin-top: 70px"
          ></i>
          <span class="fs-1 fw-bold text-primary-m">Conversation</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
