.card {
  &-avatar-wrapper {
    margin-right: 10px;

    &.online-indicator::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #28a745;
      border: 2px solid #fff;
      bottom: 0;
      right: 0;
    }
  }

  &-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  &-time {
    font-size: 14px;
    color: #3a3a3a;
  }

  &-notRead {
    background-color: #f4f4f4c7;
  }

  &-read {
    background-color: white;
  }

  &-title {
    color: #3c434a;
  }

  &-text {
    color: #a2b1bf;
  }
}

.icon-check{
  color: #2780C4;
}

.check-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5px;       
  height: 5px;
  border-radius: 50%; 
  background-color: #007bff; 
  color: white;      
  font-size: 12px;    
}