<ng-template #content let-modal class="modal">
  <div class="modal-header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- <ng-content select="[modal-header]"></ng-content>
      <ng-content select="[modal-header-action]"></ng-content> -->

      <ng-content select="[modal-header]"></ng-content>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
      <!-- <ng-content select="[modal-header-action]"></ng-content> -->
    </div>
  </div>
  <div class="modal-body">
    <ng-content select="[modal-body]"></ng-content>
  </div>
</ng-template>

<button class="custom-modal-btn cursor-point" (click)="open(content)">
  <ng-content select="[modal-btn]"></ng-content>
</button>
