::ng-deep .modal-dialog {
  max-width: 660px !important;
  .modal-content {
    overflow-y: auto;
    height: 700px;
    max-height: max-content;
    border-radius: 26px;
    box-shadow: 0 0 0px 6px rgba(255, 255, 255, 0.4);
    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 8px;
    }

    .modal-header{
      padding: 24px !important;
    }
  }
}

.modal-header {
  border: 0;
}
