.card {
  box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.17) !important;
}

.owner {
  font-size: 14px !important;
  font-style: italic;
}

.skeleton {
  height: 8px;
  width: 50%;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(209, 209, 209, 0.932);
}

.cardHero {
  &-item {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    overflow: hidden;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }
  }

  &-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2px;
  pointer-events: none;
}

.tag-item {
  padding: 4px 11px;
  border-radius: 20px;
  font-size: 10px;
  margin: 2.5px;
}
