<app-modal-utils-chat>
  <span modal-btn class="d-flex align-items-center gap-2 d-inline-block detailbar-dropdown-item">
    <i class="fa-solid fa-pen text-black"></i>
    <span>Edit</span>
  </span>
  <h4 class="fw-bold" modal-header>Rename Group</h4>
  <div modal-body>
    <input
      class="form-control"
      type="text"
      name="name"
      style="padding: 12px"
      placeholder="Enter name group..."
      [formControl]="nameGroup"
    />
    <div class="text-end">
      <button class="btn btn-primary mt-3" (click)="handlRenameGroup()">
        Rename
      </button>
    </div>
  </div>
</app-modal-utils-chat>
