<div
  [ngClass]="{ collapsed: !isGroupDetailBarVisible }"
  class="flex-fill group-detail-wrapper"
  style="background-color: #f8f8fa"
>
  <div
    class="h-100 d-flex flex-column"
    [ngStyle]="
      theme
        ? {
            'background-image': 'url(' + theme.image + ')',
            'background-repeat': 'no-repeat',
            'background-size': 'cover'
          }
        : {}
    "
  >
    <div
      class="py-3 px-4 chat-header d-flex align-items-center justify-content-between position-relative"
      [ngClass]="{
        'chat-header-default': !theme || theme.name === 'default',
        'chat-header-cloud': theme?.name === 'cloud',
        'chat-header-family': theme?.name === 'family',
        'chat-header-green': theme?.name === 'green'
      }"
    >
      <div class="d-flex align-items-center gap-2">
        <img
          src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?q=80&w=685&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="chat-header-img"
        />
        <div *ngIf="isLoading; else content">
          <div class="d-flex flex-column align-items-start gap-2">
            <app-loading-skeleton
              width="200px"
              height="24px"
            ></app-loading-skeleton>
            <app-loading-skeleton
              width="100px"
              height="16px"
            ></app-loading-skeleton>
          </div>
        </div>

        <ng-template #content>
          <div class="d-flex flex-column align-items-start gap-2">
            <div class="d-flex align-items-center gap-3">
              <span class="fs-5 fw-medium">{{ groupData?.name }}</span>
              <span [ngStyle]="getTagStyle(tag)" class="fw-bold">{{
                tag | capitalizeWords
              }}</span>
            </div>
            <span class="d-flex align-items-center gap-1">
              <span
                [ngClass]="
                  userOnlineGroup.length > 0
                    ? 'status-online'
                    : 'status-offline'
                "
              ></span>
              <span
                class="fw-6 fs-7"
                [ngClass]="
                  !theme || (theme && theme.name !== 'default')
                    ? ''
                    : 'text-primary-chat'
                "
                >{{ userOnlineGroup.length > 0 ? "Online" : "Offline" }}</span
              >
            </span>
          </div>
        </ng-template>
      </div>

      <div class="d-flex align-items-center gap-3">
        <span
          class="cursor-point d-flex gap-4 align-items-center"
          (click)="toggleGroupDetailBar()"
        >
          <span
            class="fw-bold pointer d-flex align-items-center justify-content-center chat-header-img-item"
          >
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </span>
        </span>
      </div>
    </div>
    <app-chat-message></app-chat-message>
    <app-chat-input></app-chat-input>
  </div>
  <app-group-detail-bar></app-group-detail-bar>
</div>
