<div *ngFor="let msg of messagesGroup; let index = index">
  <div
    *ngIf="getDateAndTimeStamp(msg, index) !== null && !checkDeleteForMe(msg)"
    class="text-center py-3"
    style="color: #ccc"
  >
    {{ getDateAndTimeStamp(msg, index) | smartDate }}
  </div>

  <div
    *ngIf="!checkDeleteForMe(msg)"
    class="message mb-2 d-flex position-relative"
    [ngClass]="
      msg.senderId === userId ? 'justify-content-end' : 'justify-content-start'
    "
  >
    <div
      class="d-flex align-items-center"
      [ngClass]="{ 'justify-content-end': msg.senderId === userId }"
    >
      <div
        *ngIf="msg.senderId !== userId"
        [ngClass]="onlineUserIds.includes(msg.senderId) ? 'avatar-online' : ''"
      >
        <img
          class="card-avatar"
          src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>

      <div class="d-flex flex-column gap-1 flex-fill">
        <span *ngIf="msg.senderId !== userId" class="text-name">{{
          msg.senderName | capitalizeWords
        }}</span>
        <div
          [ngClass]="msg.senderId !== userId ? 'f-row' : 'f-row-reverse'"
          class="text-wrapper d-flex align-items-center gap-3"
        >
          <div placement="top" [ngbTooltip]="msg.createdAt | formatTime">
            <!-- Have reply -->
            <ng-container *ngIf="msg.replyToMessageId">
              <div
                [ngClass]="{
                  'align-items-end': msg.senderId === userId,
                  'align-items-start': msg.senderId !== userId
                }"
                class="d-flex flex-column gap-1"
              >
                <!-- Reply Text -->
                <span
                  *ngIf="msg.replyToType === 'text'"
                  class="reply-text message-item"
                >
                  {{ msg.replyToContent }}
                </span>

                <!-- Reply Image -->
                <img
                  *ngIf="msg.replyToType === 'image'"
                  [src]="msg.replyToContent"
                  class="img-fluid rounded reply-text cursor-pointer message-item"
                  style="max-width: 300px; height: auto"
                  alt="Image"
                  (click)="selectedImageUrl = msg.content"
                />

                <!-- Reply File -->
                <div
                  *ngIf="
                    msg.replyToType === 'word' || msg.replyToType === 'excel'
                  "
                  class="file-card"
                >
                  <div
                    class="file-icon-wrapper"
                    [ngClass]="{
                      'bg-word': msg.replyToType === 'word',
                      'bg-excel': msg.replyToType === 'excel'
                    }"
                  >
                    <img
                      [src]="
                        msg.replyToType === 'word'
                          ? 'https://thehanoichamomile.com/wp-content/uploads/2019/06/12-121390_new-microsoft-word-icon.jpg'
                          : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTroU91FLk1e5CTmveZCstER9A-qLpJGNtZvA&s'
                      "
                      alt=""
                    />
                  </div>
                  <div class="file-info">
                    <div class="file-name">
                      {{ extractFileName(msg.replyToContent) }}
                    </div>
                    <div class="file-meta">
                      {{
                        msg.replyToType === "word"
                          ? "Word Document"
                          : "Excel Spreadsheet"
                      }}
                    </div>
                  </div>
                </div>

                <!-- Message content reply -->
                <p
                  [ngClass]="{
                    'bg-primary text-white': msg.senderId === userId,
                    'bg-customer text-dark': msg.senderId !== userId
                  }"
                  class="mb-0 text-message fs-6 text-content message-item"
                >
                  {{ msg.content }}
                </p>
              </div>
            </ng-container>

            <!-- Not reply -->
            <ng-container *ngIf="!msg.replyToMessageId">
              <!-- Text -->
              <p
                *ngIf="msg.type === 'text'"
                [ngClass]="{
                  'bg-primary text-white align-self-end':
                    msg.senderId === userId,
                  'bg-customer text-dark align-self-start':
                    msg.senderId !== userId
                }"
                class="mb-0 text-message fs-6 text-content message-item"
              >
                {{ msg.content }}
              </p>

              <!-- Image -->
              <img
                *ngIf="msg.type === 'image'"
                [src]="msg.content"
                class="img-fluid rounded cursor-pointer message-item"
                style="max-width: 300px; height: auto"
                alt="Image"
                (click)="selectedImageUrl = msg.content"
              />

              <!-- Word / Excel -->
              <div
                *ngIf="msg.type === 'word' || msg.type === 'excel'"
                class="file-card"
              >
                <div
                  class="file-icon-wrapper"
                  [ngClass]="{
                    'bg-word': msg.type === 'word',
                    'bg-excel': msg.type === 'excel'
                  }"
                >
                  <img
                    [src]="
                      msg.type === 'word'
                        ? 'https://thehanoichamomile.com/wp-content/uploads/2019/06/12-121390_new-microsoft-word-icon.jpg'
                        : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTroU91FLk1e5CTmveZCstER9A-qLpJGNtZvA&s'
                    "
                    alt=""
                  />
                </div>
                <div class="file-info">
                  <div class="file-name">
                    {{ extractFileName(msg.content) }}
                  </div>
                  <div class="file-meta">
                    {{
                      msg.type === "word"
                        ? "Word Document"
                        : "Excel Spreadsheet"
                    }}
                  </div>
                </div>
                <a
                  class="download-btn"
                  [href]="msg.content"
                  download
                  target="_blank"
                  ngbTooltip="Download"
                >
                  <i class="fa-solid fa-arrow-down"></i>
                </a>
              </div>
            </ng-container>

            <p
              *ngIf="msg.isEdited"
              [ngClass]="{
                'text-end text-edit-right': msg.senderId === userId,
                'text-start text-edit-left': msg.senderId !== userId
              }"
              class="text-edit mb-0 mt-1"
            >
              Edited
            </p>

            <p
              *ngIf="!msg.isEdited"
              [ngClass]="{
                'text-end text-edit-right': msg.senderId === userId,
                'text-start text-edit-left': msg.senderId !== userId
              }"
              class="text-edit mb-0 mt-1"
            >
              {{ msg.status }}
            </p>
          </div>

          <div
            [ngClass]="msg.senderId !== userId ? 'f-row' : 'f-row-reverse'"
            class="text-react d-flex gap-3"
          >
            <span
              class="cursor-point"
              (click)="handleReply(msg)"
              style="padding: 5px"
            >
              <i class="fa-solid fa-share"></i>
            </span>
            <span class="cursor-point" style="padding: 5px">
              <i class="fa-solid fa-face-smile"></i>
            </span>
            <span
              class="cursor-point item-option position-relative"
              style="padding: 5px"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
              <div class="position-absolute item-option-child">
                <span
                  *ngIf="msg.type === 'text' && msg.senderId === userId"
                  class="item-option-children text-primary-m"
                  (click)="handleEdit(msg)"
                >
                  <i
                    class="fa-solid fa-pen"
                    style="font-size: 13px; margin-right: 4px"
                  ></i>
                  Edit
                </span>
                <app-utils-message-delete
                  *ngIf="msg"
                  class="item-option-children"
                  [message]="msg"
                ></app-utils-message-delete>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="selectedImageUrl"
  class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-75"
  style="z-index: 1050"
  (click)="selectedImageUrl = null"
>
  <img
    [src]="selectedImageUrl"
    class="img-fluid rounded shadow"
    style="max-height: 90vh; max-width: 90vw"
    alt="Large Image"
    (click)="$event.stopPropagation()"
  />
</div>
