<div *ngFor="let msg of messagesGroup; let index = index">
  <div *ngIf="msg.type === 'system'" class="w-100 text-center my-2 p-1">
    <span
      class="text-system fst-italic"
      [ngClass]="{
        'text-bg-default': !theme || theme.name === 'default',
        'text-bg-cloud': theme?.name === 'cloud',
        'text-bg-family': theme?.name === 'family',
        'text-bg-green': theme?.name === 'green'
      }"
      >{{ msg.content }}</span
    >
  </div>

  <div *ngIf="msg.type !== 'system'">
    <div
      *ngIf="getDateAndTimeStamp(msg, index) !== null && !checkDeleteForMe(msg)"
      class="text-center py-3 text-bg-default"
      [ngClass]="{
        'text-bg-default': !theme || theme.name === 'default',
        'text-bg-cloud': theme?.name === 'cloud',
        'text-bg-family': theme?.name === 'family',
        'text-bg-green': theme?.name === 'green'
      }"
    >
      {{ getDateAndTimeStamp(msg, index) | smartDate }}
    </div>

    <div
      *ngIf="!checkDeleteForMe(msg)"
      class="message mb-2 d-flex position-relative"
      [ngClass]="
        msg.senderId === userId
          ? 'justify-content-end'
          : 'justify-content-start'
      "
    >
      <div
        class="d-flex align-items-center"
        [ngClass]="{ 'justify-content-end': msg.senderId === userId }"
      >
        <div
          *ngIf="msg.senderId !== userId && msg.senderName !== 'System'"
          [ngClass]="
            onlineUserIds.includes(msg.senderId) ? 'avatar-online' : ''
          "
        >
          <img
            class="card-avatar"
            src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>

        <div class="d-flex flex-column gap-1 flex-fill">
          <span
            *ngIf="shouldShowName(index)"
            class="text-name text-bg-default"
            [ngClass]="{
              'text-bg-default': !theme || theme.name === 'default',
              'text-bg-cloud': theme?.name === 'cloud',
              'text-bg-family': theme?.name === 'family',
              'text-bg-green': theme?.name === 'green'
            }"
            >{{ msg.senderName | capitalizeWords }}</span
          >
          <div
            [ngClass]="msg.senderId !== userId ? 'f-row' : 'f-row-reverse'"
            class="text-wrapper d-flex align-items-center gap-3"
          >
            <div placement="top" [ngbTooltip]="msg.createdAt | formatTime">
              <!-- Have reply -->
              <ng-container *ngIf="msg.replyToMessageId">
                <div
                  [ngClass]="{
                    'align-items-end': msg.senderId === userId,
                    'align-items-start': msg.senderId !== userId,
                    'z-max-relative':
                      showMessageEdit && showMessageEdit._id === msg._id
                  }"
                  class="d-flex flex-column gap-1"
                >
                  <!-- Reply Text -->
                  <span
                    *ngIf="
                      msg.replyToMessageId.type === 'text' ||
                      msg.replyToMessageId.type === 'delete'
                    "
                    class="reply-text message-item fst-italic text-muted"
                  >
                    {{
                      msg.replyToMessageId.type === "delete"
                        ? "Message has been recalled"
                        : msg.replyToMessageId.content
                    }}
                  </span>

                  <!-- Reply Image -->
                  <img
                    *ngIf="msg.replyToMessageId.type === 'image'"
                    [src]="msg.replyToMessageId.content"
                    class="img-fluid rounded reply-text cursor-pointer message-item z-0"
                    style="max-height: 100px; padding: 0"
                    alt="Image"
                  />

                  <!-- Reply File -->
                  <div
                    *ngIf="
                      msg.replyToMessageId.type === 'word' ||
                      msg.replyToMessageId.type === 'excel'
                    "
                    class="file-card"
                    style="margin-bottom: -12px"
                  >
                    <div
                      class="file-icon-wrapper"
                      [ngClass]="{
                        'bg-word': msg.replyToMessageId.type === 'word',
                        'bg-excel': msg.replyToMessageId.type === 'excel'
                      }"
                    >
                      <img
                        [src]="
                          msg.replyToMessageId.type === 'word'
                            ? 'https://thehanoichamomile.com/wp-content/uploads/2019/06/12-121390_new-microsoft-word-icon.jpg'
                            : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTroU91FLk1e5CTmveZCstER9A-qLpJGNtZvA&s'
                        "
                        alt=""
                      />
                    </div>
                    <div class="file-info">
                      <div class="file-name">
                        {{ extractFileName(msg.replyToMessageId.content) }}
                      </div>
                      <div class="file-meta">
                        {{
                          msg.replyToMessageId.type === "word"
                            ? "Word Document"
                            : "Excel Spreadsheet"
                        }}
                      </div>
                    </div>
                  </div>

                  <!-- Message content reply -->
                  <div
                    [ngClass]="{
                      'theme-default':
                        !theme ||
                        (theme.name === 'default' && msg.senderId === userId),
                      'theme-default-orther':
                        !theme ||
                        (theme.name === 'default' && msg.senderId !== userId),
                      'theme-cloud':
                        theme?.name === 'cloud' && msg.senderId === userId,
                      'theme-cloud-orther':
                        theme?.name === 'cloud' && msg.senderId !== userId,
                      'theme-family':
                        theme?.name === 'family' && msg.senderId === userId,
                      'theme-family-orther':
                        theme?.name === 'family' && msg.senderId !== userId,
                      'theme-green':
                        theme?.name === 'green' && msg.senderId === userId,
                      'theme-green-orther':
                        theme?.name === 'green' && msg.senderId !== userId,
                      'text-content-other': msg.senderId !== userId,
                      'text-content': msg.senderId === userId,
                    }"
                    class="mb-0 text-message fs-6 message-item"
                    style="z-index: 1"
                  >
                    {{ msg.content }}
                    <div
                      *ngIf="
                        msg.replyToMessageId &&
                        getQuantityReactLength(msg.reactions) > 0
                      "
                      class="reaction-pill max-content d-flex align-items-center gap-1 mt-1 width-maxcontent"
                      [ngClass]="{
                        'justify-content-end ml-auto': msg.senderId === userId,
                        'justify-content-start mr-auto': msg.senderId !== userId
                      }"
                    >
                      <ng-container *ngFor="let emoji of getReactions(msg)">
                        <span class="emoji-item-type">{{
                          getEmojiIcon(emoji.type)
                        }}</span>
                      </ng-container>

                      <span class="emoji-item-count">{{
                        getTotalReactions(msg)
                      }}</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Not reply -->
              <ng-container *ngIf="!msg.replyToMessageId">
                <!-- Text -->
                <ng-container *ngIf="msg.type === 'text'">
                  <div
                    [ngClass]="{
                      'theme-default align-self-end':
                        !theme ||
                        (theme.name === 'default' && msg.senderId === userId),
                      'theme-default-orther align-self-start':
                        !theme ||
                        (theme.name === 'default' && msg.senderId !== userId),
                      'theme-cloud align-self-end':
                        theme?.name === 'cloud' && msg.senderId === userId,
                      'theme-cloud-orther align-self-start':
                        theme?.name === 'cloud' && msg.senderId !== userId,
                      'theme-family align-self-end':
                        theme?.name === 'family' && msg.senderId === userId,
                      'theme-family-orther align-self-start':
                        theme?.name === 'family' && msg.senderId !== userId,
                      'theme-green align-self-end':
                        theme?.name === 'green' && msg.senderId === userId,
                      'theme-green-orther align-self-start':
                        theme?.name === 'green' && msg.senderId !== userId,
                      'z-max-relative':
                        showMessageEdit && showMessageEdit._id === msg._id,
                        'text-content-other': msg.senderId !== userId,
                      'text-content': msg.senderId === userId,
                    }"
                    class="mb-0 text-message fs-6 message-item"
                  >
                    {{ msg.content }}
                    <div
                      *ngIf="
                        msg.type === 'text' &&
                        getQuantityReactLength(msg.reactions) > 0
                      "
                      class="reaction-pill max-content d-flex align-items-center gap-1 mt-1"
                      [ngClass]="{
                        'justify-content-end ml-auto': msg.senderId === userId,
                        'justify-content-start mr-auto': msg.senderId !== userId
                      }"
                      style="background-color: #ccc"
                    >
                      <ng-container *ngFor="let emoji of getReactions(msg)">
                        <span class="emoji-item-type">{{
                          getEmojiIcon(emoji.type)
                        }}</span>
                      </ng-container>

                      <span class="emoji-item-count">{{
                        getTotalReactions(msg)
                      }}</span>
                    </div>
                  </div>
                </ng-container>

                <!-- Image -->
                <div
                  *ngIf="msg.type === 'image'"
                  [ngClass]="
                    getQuantityReactLength(msg.reactions) > 0 &&
                    msg.senderId === userId
                      ? 'd-flex flex-column align-items-end'
                      : 'd-flex flex-column align-items-start'
                  "
                >
                  <img
                    *ngIf="msg.type === 'image'"
                    [src]="msg.content"
                    class="img-fluid rounded cursor-pointer message-item"
                    style="max-width: 300px; height: auto"
                    alt="Image"
                    (click)="selectedImageUrl = msg.content"
                  />
                  <div
                    *ngIf="
                      msg.type === 'image' &&
                      getQuantityReactLength(msg.reactions) > 0
                    "
                    class="reaction-pill d-flex align-items-center gap-1 mt-1 width-maxcontent"
                    [ngClass]="{
                      'justify-content-end': msg.senderId === userId,
                      'justify-content-start': msg.senderId !== userId
                    }"
                    style="background-color: #ccc"
                  >
                    <ng-container *ngFor="let emoji of getReactions(msg)">
                      <span class="emoji-item-type">{{
                        getEmojiIcon(emoji.type)
                      }}</span>
                    </ng-container>

                    <span class="emoji-item-count">{{
                      getTotalReactions(msg)
                    }}</span>
                  </div>
                </div>

                <!-- Word / Excel -->
                <div
                  *ngIf="msg.type === 'word' || msg.type === 'excel'"
                  [ngClass]="
                    getQuantityReactLength(msg.reactions) > 0 &&
                    msg.senderId === userId
                      ? 'd-flex flex-column align-items-end'
                      : 'd-flex flex-column align-items-start'
                  "
                >
                  <div class="file-card">
                    <div
                      class="file-icon-wrapper"
                      [ngClass]="{
                        'bg-word': msg.type === 'word',
                        'bg-excel': msg.type === 'excel'
                      }"
                    >
                      <img
                        [src]="
                          msg.type === 'word'
                            ? 'https://thehanoichamomile.com/wp-content/uploads/2019/06/12-121390_new-microsoft-word-icon.jpg'
                            : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTroU91FLk1e5CTmveZCstER9A-qLpJGNtZvA&s'
                        "
                        alt=""
                      />
                    </div>
                    <div class="file-info">
                      <div class="file-name">
                        {{ extractFileName(msg.content) }}
                      </div>
                      <div class="file-meta">
                        {{
                          msg.type === "word"
                            ? "Word Document"
                            : "Excel Spreadsheet"
                        }}
                      </div>
                    </div>
                    <a
                      class="download-btn"
                      [href]="msg.content"
                      download
                      target="_blank"
                      ngbTooltip="Download"
                    >
                      <i class="fa-solid fa-arrow-down"></i>
                    </a>
                  </div>

                  <div
                    *ngIf="
                      (msg.type === 'word' || msg.type === 'excel') &&
                      getQuantityReactLength(msg.reactions) > 0
                    "
                    class="reaction-pill d-flex align-items-center gap-1 mt-1 width-maxcontent"
                    [ngClass]="{
                      'justify-content-end': msg.senderId === userId,
                      'justify-content-start': msg.senderId !== userId
                    }"
                  >
                    <ng-container *ngFor="let emoji of getReactions(msg)">
                      <span class="emoji-item-type">{{
                        getEmojiIcon(emoji.type)
                      }}</span>
                    </ng-container>

                    <span class="emoji-item-count">{{
                      getTotalReactions(msg)
                    }}</span>
                  </div>
                </div>
              </ng-container>

              <p
                *ngIf="msg.isEdited"
                class="text-edit mb-0 mt-1"
                [ngClass]="{
                  'text-end text-edit-right': msg.senderId === userId,
                  'text-start text-edit-left': msg.senderId !== userId,
                  'text-bg-default': !theme || theme.name === 'default',
                  'text-bg-cloud': theme?.name === 'cloud',
                  'text-bg-family': theme?.name === 'family',
                  'text-bg-green': theme?.name === 'green'
                }"
              >
                Edited
              </p>
              <!-- *ngIf="!msg.isEdited" -->
              <p
                *ngIf="!msg.isEdited && shouldShowStatusOnlyLastOfChain(index)"
                class="text-edit mb-0 mt-1"
                [ngClass]="{
                  'text-end text-edit-right': msg.senderId === userId,
                  'text-start text-edit-left': msg.senderId !== userId,
                  'text-bg-default': !theme || theme.name === 'default',
                  'text-bg-cloud': theme?.name === 'cloud',
                  'text-bg-family': theme?.name === 'family',
                  'text-bg-green': theme?.name === 'green'
                }"
              >
                <!-- {{ getStatusMessage(msg, index) }} -->
                {{ msg.status }}
              </p>
            </div>

            <div
              [ngClass]="[
                msg.senderId !== userId ? 'f-row' : 'f-row-reverse',
                !theme || theme.name === 'default'
                  ? 'text-react-default'
                  : theme.name === 'cloud'
                  ? 'text-react-cloud'
                  : theme.name === 'family'
                  ? 'text-react-family'
                  : theme.name === 'green'
                  ? 'text-react-green'
                  : ''
              ]"
              class="text-react d-flex gap-3"
            >
              <span
                class="cursor-point"
                (click)="handleReply(msg)"
                style="padding: 5px"
              >
                <i class="fa-solid fa-share"></i>
              </span>
              <span
                class="cursor-point position-relative emoji-wrapper"
                style="padding: 5px"
              >
                <i class="fa-solid fa-face-smile"></i>
                <div
                  class="position-absolute emoji-list d-flex align-items-center"
                >
                  <div *ngFor="let emo of listEmoji" class="emoji-item">
                    <span
                      (click)="handleEmoji(msg._id, emo.type, msg.groupId)"
                      >{{ emo.icon }}</span
                    >
                  </div>
                </div>
              </span>
              <span
                class="cursor-point item-option position-relative"
                style="padding: 5px"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
                <div class="position-absolute item-option-child">
                  <span
                    *ngIf="
                      msg.type === 'text' &&
                      msg.senderId === userId &&
                      canEditMessage(msg)
                    "
                    class="item-option-children text-primary-m"
                    (click)="handleEdit(msg)"
                  >
                    <i
                      class="fa-solid fa-pen"
                      style="
                        font-size: 13px;
                        margin-right: 4px;
                        color: black !important;
                      "
                    ></i>
                    Edit
                  </span>
                  <app-utils-message-delete
                    *ngIf="msg"
                    class="item-option-children"
                    [message]="msg"
                  ></app-utils-message-delete>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="selectedImageUrl"
  class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-75"
  style="z-index: 1050"
  (click)="selectedImageUrl = null"
>
  <img
    [src]="selectedImageUrl"
    class="img-fluid rounded shadow"
    style="max-height: 90vh; max-width: 90vw"
    alt="Large Image"
    (click)="$event.stopPropagation()"
  />
</div>
